*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      margin: 0;
      padding: 0;
  }
  
  .navbar{
  padding-left: 300px;
  background-color:#EB6440 ;
  display: flex;
  }

  .nav-link{
   font-size: 40px;
    text-align: end;
    word-spacing: 20px;
    
  }
  main{
    display: flex;
    margin: 0;
    padding: 0; 
   
  
  }
 
